@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;400&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: black;
}

@layer components {
  .social_media_class {
    @apply flex items-center mb-1 hover:text-gray-800 transition duration-300;
  }

  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }

  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
